@import 'tailwindcss';

@utility wrapper {
	@apply container mx-auto px-5;
}

@utility btn-primary {
	@apply rounded bg-black px-6 py-3 text-lg font-semibold text-white transition-colors duration-300 hover:bg-black/85;
}

@utility btn-inverse {
	@apply rounded bg-white px-6 py-3 text-lg font-semibold text-black transition-colors duration-300 hover:bg-white/85;
}

button {
	@apply cursor-pointer;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

input {
	@apply border-2 border-black/60 p-0.5 focus:border-black aria-invalid:border-red-500/65;

	&:focus {
		outline: transparent;
	}
}
