*,
*::before,
*::after {
	box-sizing: border-box;

	&::selection {
		background-color: hsl(from var(--color-accent) h s l / 50%);
		color: var(--color-neutral-dark);
	}
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

:root {
	--color-primary: #0a2463;
	--color-accent: #0c7653;
	--color-neutral-light: #f9fafb;
	--color-neutral-dark: #374151;
	--color-white: #ffffff;
	--color-danger: hsl(5, 92%, 42%);
}

html {
	accent-color: var(--color-accent);
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Inter Variable', sans-serif;
	color: var(--color-neutral-dark);
	background-color: var(--color-white);

	@media (width > calc(768rem / 16)) {
		font-size: 18px;
	}
}

:is(img, picture, video, canvas, svg) {
	display: block;
	max-width: 100%;
}

:is(input, button, textarea, select) {
	font: inherit;
}

:is(p, h1, h2, h3, h4, h5, h6) {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

a {
	color: var(--color-accent);
}

:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
	color: var(--color-primary);
}

.wrapper {
	--viewport-padding: 16px;
	display: grid;
	grid-template-columns: 1fr min(1024rem / 16, 100%) 1fr;
	padding-inline: var(--viewport-padding);

	& > * {
		grid-column: 2;
	}

	.full-bleed {
		grid-column: 1 / -1;
		margin-inline: calc(var(--viewport-padding) * -1);
	}
}

:is(button, .btn) {
	padding: 6px 12px;
	font-weight: 500;
	cursor: pointer;
	background-color: var(--color-neutral-light);
	border-style: solid;
	border-color: var(--accent-color);
}
